<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "login" %>
<% end %>

<div>
<% unless @user.nil? %>
  <%= @user.email %>
  <%= @user.name %>


  <%= link_to "sign out", method: :delete,
    data: { confirm: "You sure?" } %>
<% end %>
</div>
